.padding-5 > li{
  padding: 5px;
}

.item-box {
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;

  border-radius: 6px;

}

.guide-img-wrapper{
  position: relative;
  max-width: 263px;
  max-height: 263px;

}

.guide-img-overlay{
  position: absolute;
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: 99;
  left:0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}
.guide-img-overlay input{
  color: #fff;
  margin-top: 40% !important;
}

.item-box-desc{
  padding: 20px 20px;
    overflow: hidden;
}

.btn-primary {
 border-color: #1e6131
}

.guide-bio{
  padding-top: 15px;
}

.guide-row{
   background: #f6f6f6;
   border-radius: 8px;
   padding: 15px;
   margin-top:15px;
}

.bio-div{
  border: solid #a9a9a9;
  border-width: 0;
  border-left-width: 1px;
}

.img-center{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.no-list-style{
  list-style: none;
}

.no-margin-or-padding{
  margin: 0;
  padding: 0;
}

.align-baseline{
  vertical-align: baseline;
}

/*positioning of FFW banner on slider*/
.slider-overlay{
  max-width: 75% !important;
  margin-top: -1em;
}

@media(max-width: 767px){
  .slider-overlay{
    margin-top: -8em;
  }
}

.upcoming-trip{
  margin-top: 15px;
}

@media (max-width: 991px) {
  .full-desktop-only{
      display: none;
  }
}

@media (min-width: 991px) {
  .not-full-desktop{
      display: none;
  }
}

@media (max-width: 767px) {
  .desktop-only{
      display: none;
  }
}
@media (min-width: 768px) {
  .mobile-only{
      display: none;
      
  }
}

@media (min-width: 991px) {
  header{
    background-color: #1e6131 !important;
  }
}

@media (max-width: 990px) {
  #logo-region{
    background-color: #1e6131 !important;
  }
  .tb-megamenu{
    padding-top: 0;
  }
  .nestor-main-menu .navbar-toggle {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.tb-megamenu .nav > li > a{
  color: #fff !important;
}
.tb-megamenu .nav > li > a:hover{
  color: #1e6131 !important;
}



.guide-info-popup{
  color: #000;
  text-align: left;
}